body {
  background:white;
  /* background:#efeaea; */
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Start of navBar style */
.navbar{
width: 100%;
background-color: rgba(255, 255, 255, 0.87);
padding: 10px;
box-shadow: 0px 0px 3px 0px #a6a2a2;
margin-bottom: 10px;
position: fixed !important;
top:0;
}

.logo, .rightLinks {
  display: inline-block;
  margin: 0;
}
.logo {
  width: 60%;
  margin-left: 30px;
}
.rightLinks{
  margin-left: 20%;
}

.logo > a {
  font-size: 30px;
  text-decoration: none;
  color: #e0691c;
}

.logo > a > b {
  font-size: 40px;
  color: #53a653;
  text-shadow: 1px 2px 3px #987e6e;
}
.rightLinks > a {
  text-decoration: none;
  padding: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: green;
  font-family: inherit;
  font-weight: bold;
  opacity: .8;
}
.rightLinks > a:hover {
  opacity: 1;
  border-bottom: 5px solid #a6a2a2;
  transition-delay: .2s inherit;
}

/* End of navBar style */

/* Start of categories style */
.categories {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 30px;
  /* position: relative !important; */
}
.categories > a {
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: normal;
}
.categories > a:hover, .categories > a:focus {
  border-bottom: 5px solid #a6a2a2;
  transition-delay: .2s inherit;
  color: #e0691c;
}

.categories >.active {
  transition-delay: .2s inherit;
  color: #e0691c;
}
/*End of categories style */


.items-container {
  /* background-color: white; */
  margin-left: 12%;
  margin-right: 10%;
}
.items-container > .item {
  max-width: 20%;
  display: inline-block !important;
  margin: 2%;
  box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.2);
}
.item-redirect {
  text-decoration: none;
}
.item-image > img {
  width: 100%;
  height: 40vh;
  display: inline-block !important;
  /* background-color: red; */
  object-fit: cover;
}
.item:nth-child(2), .item:nth-child(6) {
  max-width: 100%;
  width: 750px;
  /* height: 40vh; */
  /* object-fit: cover; */
  box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.2);
}
.item:nth-child(2) >.item-image > img , .item:nth-child(6) >.item-image > img {
  max-width: 100%;
  width: 750px;
  object-fit: cover;
}
.item-redirect>.details {
  height: 100px;
  margin-left: 10px;
  color: black;
}
.details > .item-name {
  font-size: 22px;
  font-weight: bold;
  margin-top: -10px;
  color: #e0691c;
}
.details > .item-price {
  font-size: 20px;
  margin-top: -12px;
}
.price {
  font-size: 25px;
}
.item-catgory {
  font-size: 20px;
  margin-top: -12px;
  float: right;
  margin-right: 50px;
}
/* End Items container */

/* Start footer */
.footer {
  margin: 0;
  width: 100%;
  height: 50vh;
  margin-top: 10vh;
  background-color: #8ad88a;
  padding: 30px;
}
.footer > .footer-content {
  text-align: center;
  margin-top: 100px;
  font-size: 30px;
  color: #fff2f2;
}
/* End footer */

/* Forms */
.form-Container {
  margin-left: 15%;
  margin-right: 15%;
}
.auth-form {
  padding: 20px;
  margin: 5%;
  background-color: #efeaea;
}
.form-content {
  margin-left: 10%;
  margin-right: 10%;
}
.label {
  font-size: 22px;
  font-weight: normal;
  margin-top:20px;
}
input[type="text"], input[type="email"], select, input[type="password"] {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top:20px;
  font-size: 20px;
  box-shadow: 0px 2px 10px 0px #53a653;
}
input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder {
  color:#53a653;
}

.form-btn {
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: #53a653;
  border-radius: 8px;
  border: none;
  margin-left: 14px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.form-btn:hover {
  background-color: #2b612b;
  color: white;
  transition: .3s step-end;
}
.forget-password{
  text-decoration: none;
  font-size: 20px;
}
.forget-password:hover{
  color: #53a653;
}
/* End form */

/* Single item page */
.single-item-container {
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
  padding: 20px;
}

.single-item-content {
  margin-left: 5%;
  margin-right: 10%;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  /* background-color: yellow; */
}
.leftSide-item-content, .rightSide-item-content {
  display: inline-block;
  padding: 5px;
}
.leftSide-item-content {
  width: 50%;
}
.rightSide-item-content {
  background-color: white;
  position: fixed;
  top: 10;
  margin-left: 1%;
  width: 25%;
  height: auto !important;
  box-shadow: 0px 0px 5px 0px black;
  padding: 5px;
  text-align: center;
}
.leftSide-item-content > .single-item-img {
  max-width: 100%;
}
.single-item-img > img {
  width: 100%;
  height: auto;
}
.single-item-details {
  margin: 80px;
}

.buy-item-btn {
  width: 100%;
  padding: 8px;
  background-color: #e0691c;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
.buy-item-btn:hover {
 color:white;
}